{% extends "base.html" %}
{% block title %}News{% endblock %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <style>

    #title{
        margin-top:130px;
        margin-bottom:30px;
        text-align:center;
    }

    .search{
        text-align:center;
    }

    </style>
{% endblock %}
{% block extrascript %}
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> -->
{% endblock %}

{% block content %}
<body>
    <h2 id="title"> News 검색 </h2>

    {% comment %} {% if label_list %}
        <ul>
        {% for item in label_list %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Data</p>
    {% endif %} {% endcomment %}

<div class = "search">
    <form action="{% url 'news:result' %}" method="post">
    {% csrf_token %}
    <label for="keyword">검색어 입력</label>
    <input type="text" name="keyword" id="keyword" value="">
    <input type="submit" value="검색">
    </form>
</div>
    <br>
    <br>

{% endblock content %}
<!--############-->
{% block footer %}
    <div id="footer">&copy; Django for Python 2019.</div>
{% endblock %}