{% extends "base_data.html" %}
{% block title %}Rank{% endblock %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_home.css' %}">
{% endblock %}

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <script src="http://code.jquery.com/jquery-latest.js"></script>

{% block content %}
    <style>
    #img{
        margin-top: 50px;
    }

    .thum img{
        width:60px;
        height:60px;
    }

    #content_home img{
        padding-left:15px;
    }

    #menu{
        padding-left:15px;
    }

    #footer {
    position: relative;
    bottom: 15px;
    left: 0px;
    right: 0px;
    height: 30px;
    color: #888;
    text-align: center;
    font-size: 12px;
    padding: 1em;
    border-top: 1px solid #bbb;
    }

    section{
        padding-top:50px;
    }
    </style>

<body>


<section>
  <header>
    <a href=# class="btn sizeS pupple">
      <span class="iconPrev"></span>
      이전
    </a>
    <h3>{{recent_date}}</h3>
    <a href=# class="btn sizeS pupple">
      <span class="iconNext"></span>
      다음
    </a>
  </header>

  <table>
    <thead>
      <tr>
        <th>순번</th>
        <th>후보자</th>
        <th>설문조사(음원/음반)</th>
        <th>여론(방송/언론)</th>
        <th>출구조사(포털사이트)</th>
        <th>총점</th>
        {% comment %} <th>순위변화</th> {% endcomment %}
      </tr>
    </thead>

    <tbody> <!--표 -->
        {% for ranking in ranking_list %}
        <tr>
            <td>
            <span class="rank"> {{ forloop.counter }} </span> <!-- 순위 -->
            </td>
            <td class="idol">
            <span class="thum"><img src = {{ ranking.idol.idol_img }}></span> <!-- 이미지 -->
            <span class="name">{{ ranking.idol.idol_name }}</span> <!-- 아이돌 이름 -->
            </td>
            <td>
            <span>{{ ranking.chart_music }}</span> <!-- 음원/음반 -->
            </td>
            <td>
            <span>{{ ranking.chart_media }}</span> <!-- 방송/언론 -->
            </td>
            <td>
            <span>{{ ranking.chart_portal }}</span> <!-- 포털사이트 -->
            </td>
            <td>
            <span class="bold">{{ ranking.chart_total }}</span> <!-- 총점 -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</section>

</body>
{% endblock content %}

{% block footer %}
    <div id="footer">&copy; Django for Python 2019.</div>
{% endblock %}