<!DOCTYPE html>
<html lang="ko">
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_home.css' %}">
{% endblock %}

{% block content %}

<body>
    <div id="content_home" align="center";>
        {% load static %}
        <img src="{% static "D:\idol_rank\static\img\predict_img.jpg" %}">
    </div>

    <div id="menu" align="center">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'news:index' %}">News</a></li>
            <li><a href="{% url 'chart:index' %}">Chart</a></li>
            <li><a href="{% url 'ranking:index' %}">Data</a></li>
        </ul>
    </div>

    <div id="grid">
        <div id="menu_left">
            <ol>
                <li><a href="{% url 'home' %}" class="purpose">Purpose</a></li>
                <li><a href="{% url 'description_news' %}" class="News" >News</a></li>
                <li><a href="{% url 'description_chart' %}" class="Chart">Chart</a></li>
                <li><a href="{% url 'description_data' %}" class="Data" id="active">Data</a></li>
            </ol>
        </div>

        <div id="article">
            <h2>Data</h2>
            <p>
            기능 설명
            grammar
            Introduction to CSS
            Create selectors, properties, rules, construct CSS in HTML, specify units such as ranges and colors, assign results and rules, box models, CSS, and how they work.
            Decorate text
            Discusses the basics of text styles such as font, weight, width, line spacing and text spacing, and shadows. Finish with applying custom fonts, decorating lists and links.
            Box decoration
            One of the basics of web page layout is with a review of the box model, margins, it, padding, background color, images, shadows, filters, etc.
            CSS layout
            Decorate the text, transform the box or choose CSS. Necessary prerequisites exclude the effective range.
            </p>
        </div>
    </div>
</body>
{% endblock content %}

{% block footer %}
    <div id="footer">&copy; Django for Python 2019.</div>
{% endblock %}
</html>
