<!DOCTYPE html>
<html lang="ko">
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_home.css' %}">
{% endblock %}

{% block content %}

<body>
    <div id="content_home" align="center";>
        {% load static %}
        <img src="{% static "../static/img/predict_img.jpg" %}">
    </div>

    <div id="menu" align="center">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'news:index' %}">News</a></li>
            <li><a href="{% url 'chart:index' %}">Chart</a></li>
            <li><a href="{% url 'ranking:index' %}">Data</a></li>
        </ul>
    </div>

    <div id="grid">
        <div id="menu_left">
            <ol>
                <li><a href="{% url 'home' %}" class="purpose">Purpose</a></li>
                <li><a href="{% url 'description_news' %}" class="News" >News</a></li>
                <li><a href="{% url 'description_chart' %}" class="Chart">Chart</a></li>
                <li><a href="{% url 'description_data' %}" class="Data" id="active">Data</a></li>
            </ol>
        </div>

        <div id="article">
            <h2>About Data</h2>
            <p>
                - 수집된 데이터를 총점이 제일 높은 순위로부터 30위까지 시각화 하여 테이블 형태로 보여줌.</br></br>
                - 이전 월까지 표시 가능.</br></br>
            </p>
        </div>
    </div>
</body>
{% endblock content %}

{% block footer %}
    <div id="footer">&copy; Django for Python 2019.</div>
{% endblock %}
</html>
