<!DOCTYPE html>
<html lang="ko">
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_home.css' %}">
{% endblock %}

{% block content %}

<body>
    <div id="content_home" align="center";>
        {% load static %}
        <img src="{% static "../static/img/predict_img.jpg" %}">
    </div>

    <div id="menu" align="center">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'news:index' %}">News</a></li>
            <li><a href="{% url 'chart:index' %}">Chart</a></li>
            <li><a href="{% url 'ranking:index' %}">Data</a></li>
        </ul>
    </div>

    <div id="grid">
        <div id="menu_left">
            <ol>
                <li><a href="{% url 'home' %}" class="purpose">Purpose</a></li>
                <li><a href="{% url 'description_news' %}" class="News" id="active">News</a></li>
                <li><a href="{% url 'description_chart' %}" class="Chart">Chart</a></li>
                <li><a href="{% url 'description_data' %}" class="Data">Data</a></li>
            </ol>
        </div>

        <div id="article">
            <h2>About News</h2>
            <p>
                - 네이버 검색API를 기반으로 하여 검색어에 대한 최신 뉴스 기사를 검색.</br></br>
                - 기사의 본문을 TEXTRANK 알고리즘을 기반으로 하는 gensim.summarize를 이용하여 본문을 요약.</br></br>
                - 본문을 konlpy를 이용하여 형태소 분석 후 많이 언급되는 단어를 기준으로 wordcloud로 출력.</br></br>

            </p>
        </div>
    </div>
</body>
{% endblock content %}

{% block footer %}
    <div id="footer">&copy; Django for Python 2019.</div>
{% endblock %}
</html>
