<!DOCTYPE html>
<html lang="ko">
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_home.css' %}">
{% endblock %}

{% block content %}

<body>
    <div id="content_home" align="center";>
        {% load static %}
        <img src="{% static "../static/img/predict_img.jpg" %}">
    </div>

    <div id="menu" align="center">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'news:index' %}">News</a></li>
            <li><a href="{% url 'chart:index' %}">Chart</a></li>
            <li><a href="{% url 'ranking:index' %}">Data</a></li>
        </ul>
    </div>

    <div id="grid">
        <div id="menu_left">
            <ol>
                <li><a href="{% url 'home' %}" class="purpose" id="active">Purpose</a></li>
                <li><a href="{% url 'description_news' %}" class="News">News</a></li>
                <li><a href="{% url 'description_chart' %}" class="Chart">Chart</a></li>
                <li><a href="{% url 'description_data' %}" class="Data">Data</a></li>
            </ol>
        </div>

        <div id="article">
            <h2>프로그램 개요</h2>
            <p>
                - 과거의 미국에 오바마의 선거에서 빅데이터를 이용한 선거 승리 예측사례를 찾음.</br></br>
                - 따라서 빅데이터를 이용한 선거예측이 가능하다고 판단하여 시계열 데이터를 이용한 순위예측 딥러닝 모델을 계획.</br></br>
                - 현재 진행하는 프로젝트 개발 기간이 길지 않기 때문에 데이터를 수집하기 어려우므로 대체 데이터를 사용하기로 계획.</br></br>
                - 대체 데이터는 비교적 구하기 쉬운 연예인 데이터를 사용하기로 결정함.</br></br>
                - 설문조사와 전화조사는 미디어, 여론은 연예인 뉴스기사 수, 출구조사는 음반으로 대체해서 순위 결과를 예측할 예정.
            </p>
        </div>
    </div>
</body>
{% endblock content %}

{% block footer %}
    <div id="footer">&copy; Django for Python 2019.</div>
{% endblock %}
</html>
