{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static 'css/form.css' %}{% endblock %}

{% block content %}
<div id="content">
    <h1>Please Login</h1>
    <form action="." method="post">{% csrf_token %}
        {% if form.errors %}
        <p class="errornote">Wrong! Please correct the errors below.</p>
        {% endif %}

        <p>Please enter your id and password.</p>

        <fieldset class="aligned">
            <div class="form-group">
                {{ form.username.label_tag }} {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }} {{ form.password }}
            </div>
        </fieldset>

        <div class="submit-row">
            <input type="submit" class="btn btn-primary" value="Log in">
            <input type="hidden" name="next" value="{{ next }}">
        </div>

        <script type="text/javascript">document.getElementById('id_username').focus();</script>
    </form>

</div>
{% endblock %}